*.env
.env.local
.env.*
Set-*-Env.bat
__pycache__
__pycache__/*
*.bak

# Local virtual environment
.venv/

# Python build/cache artifacts
*.pyc
.pytest_cache/
.mypy_cache/

# OS cruft
.DS_Store

# Deployment artifact
deploy.zip

# This folder contains files that are deployed using ZIP deployment to Azure and then copied to the persistant storage after deployment
src/.copy_to_persistant_storage/