# OpenAI Service Type: 'openai' or 'azure_openai'
OPENAI_SERVICE_TYPE=openai

# ------------------------- START: Open AI API (if OPENAI_SERVICE_TYPE=openai) ----------------------------------------

# Open AI Configuration 
OPENAI_API_KEY=<your_openai_api_key>
OPENAI_ORGANIZATION=<your_openai_organization_id>
OPENAI_DEFAULT_MODEL_NAME=gpt-4o-mini

# ------------------------- END: Open AI API (if OPENAI_SERVICE_TYPE=openai) ------------------------------------------

# ------------------------- START: Azure Open AI Service (if OPENAI_SERVICE_TYPE=azure_openai) ------------------------

# 'true': uses AZURE_OPENAI_API_KEY; 'false': uses DefaultAzureCredential(), defined using AZURE_TENANT_ID, AZURE_CLIENT_ID, and (optionally) AZURE_CLIENT_SECRET
AZURE_OPENAI_USE_KEY_AUTHENTICATION=true
AZURE_OPENAI_USE_MANAGED_IDENTITY=false

# Azure Open AI Service Access
# 1) Service Principal (AZURE_TENANT_ID, AZURE_CLIENT_ID, AZURE_CLIENT_SECRET)
# 2) Workload Identity Credential (AZURE_TENANT_ID, WORKLOAD_IDENTITY_VARS, AZURE_FEDERATED_TOKEN_FILE)
# 3) Managed Identity (AZURE_TENANT_ID, AZURE_CLIENT_ID)
# 4) Azure Open AI Service Key: AZURE_OPENAI_API_KEY
AZURE_OPENAI_API_KEY=<your_azure_openai_api_key>
AZURE_TENANT_ID=<your_azure_tenant_id>
AZURE_CLIENT_ID=<your_azure_client_id>
AZURE_CLIENT_SECRET=<your_azure_client_secret>
# not needed but useful to find the app registration in the Azure portal
AZURE_CLIENT_NAME=<your_azure_client_name>
# Only if key authentication and service principal is not used and default managed identity should be overwritten with assigned managed identity 
AZURE_MANAGED_IDENTITY_CLIENT_ID=<your_azure_managed_identity_client_id>

# Azure Open AI Service Configuration
AZURE_OPENAI_ENDPOINT=https://<your_azure_openai_endpoint>.openai.azure.com/
AZURE_OPENAI_DEFAULT_MODEL_DEPLOYMENT_NAME=gpt-4o-mini
AZURE_OPENAI_API_VERSION=2025-04-01-preview

# ------------------------- END: Azure Open AI Service (if OPENAI_SERVICE_TYPE=azure_openai) --------------------------

# ------------------------- START: Search Configuration ---------------------------------------------------------------

# Default vector store id that will be used for search
SEARCH_DEFAULT_GLOBAL_VECTOR_STORE_ID=
SEARCH_DEFAULT_MAX_NUM_RESULTS=20
SEARCH_DEFAULT_TEMPERATURE=0.0
SEARCH_DEFAULT_INSTRUCTIONS=If the query can't be answered based on the available information, return N/A.
SEARCH_DEFAULT_SHAREPOINT_ROOT_URL=https://<your_sharepoint_url>/

# ------------------------- END: Search Configuration -----------------------------------------------------------------

# ------------------------- START: Crawler Configuration --------------------------------------------------------------

# The app registration used to access SharePoint
CRAWLER_CLIENT_ID=<your_crawler_client_id>
CRAWLER_CLIENT_SECRET=<your_crawler_client_secret>
CRAWLER_CLIENT_NAME=<your_crawler_client_name>
# Needed for PowerShell scripts
CRAWLER_TENANT_ID=<your_crawler_tenant_id>
CRAWLER_SHAREPOINT_TENANT_NAME=<your_sharepoint_tenant_name>
# Search in Azure > App registrations > "PnP Rocks" > Overview > Application (client) ID
PNP_CLIENT_ID=<your_pnp_client_id>

# ------------------------- END: Crawler Configuration ----------------------------------------------------------------

# ------------------------- START: Global Configuration ---------------------------------------------------------------

# Path of home directory to save files when app runs under http://127.0.0.1:8000/, mimicking the app service D:\home folder
LOCAL_PERSISTENT_STORAGE_PATH=C:\dev\localhome
# false: truncation of queries and responses to 5 characters in logs to ensure privacy; true: truncation to 200 characters 
LOG_QUERIES_AND_RESPONSES=false

# ------------------------- END: Global Configuration -----------------------------------------------------------------

# ------------------------- START: Azure App Service Deployment Settings --------------------------------------------------

AZURE_SUBSCRIPTION_ID=<your_azure_subscription_id>
AZURE_TENANT_ID=<your_azure_tenant_id>
AZURE_RESOURCE_GROUP=<your_azure_resource_group>
AZURE_LOCATION=swedencentral
AZURE_APP_SERVICE_NAME=<your_AZURE_APP_SERVICE_NAME>
AZURE_PYTHON_VERSION=3.12
AZURE_APP_SERVICE_PLAN=appservice-webapp-01

# ------------------------- END: Azure App Service Deployment Settings ----------------------------------------------------
